/* ria/kach
 *
 * static/sass/settings/styles.scss - Main stylesheet
 *
 * coded by Mucht
 * Started at 09/12/2016
*/

@import "bourbon";

body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

figure{
    img{
        width: 500px;
    }
}

.box{
    padding: 20px;
    background-color: pink;
}

ul{
    list-style: none;
}
