doctype html
html( lang="fr" )
    head
        title Kach

        link( rel="stylesheet", href="/css/styles.css" )/

    body
        h1 Kach
        h2 Look at my cat ! My cat is amazing !!!

        figure
            img( src="/assets/cat.jpg", alt="Un splendide chat" )/
